@import "../../styles/partials/global";

.work-container {
  position: relative;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #1c2833 100%);
  &__work-labels-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 50px 0 20px 0;
    &-sub {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      max-width: 589px;
      @include tablet {
        max-width: 776px;
      }
      @include desktop {
        margin: 0;
        max-width: 1253px;
      }
    }
  }
  &__work-labels {
    font-family: "RalewayB";
    font-weight: 800;
    background: linear-gradient(#ffffff, #38495a);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10px;
    text-decoration: none;
    border: 1px solid #444649;
    border-radius: 3px;
    padding: 5px;
    &:hover {
      color: #0aa2e7;
      border: 1px solid #0aa2e7;
      border-radius: 3px;
    }
    &:focus {
      color: #0aa2e7;
      border-top: 2px solid #0aa2e7;
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
      border-radius: 0;
    }
    @include tablet {
      font-size: 14px;
    }
  }
  &__title {
    text-align: center;
    font-family: "SoulmazeOutlineItalic";
    background: linear-gradient(#ffffff, #38495a);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 60px 0 0 0;
    margin: 0;
    &-letter {
      font-family: "SoulmazeItalic";
      color: #e31b6d;
    }
    &-hr {
      @include sectionTitleHR;
      background: #4cf3c6;
    }
  }

  &__cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 430px;
    padding: 0 0 70px 0;
  }
  &__stars,
  &__stars-two,
  &__stars-three {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__stars {
    @include starsOne;
    @include animationOne;

    &:after {
      @include starsOneAfter;
    }
  }
  &__stars-two {
    @include starsTwo;
    @include animationTwo;

    &:after {
      @include starsTwoAfter;
    }
  }
  &__stars-three {
    @include starsThree;
    @include animationThree;

    &:after {
      @include starsThreeAfter;
    }
  }
}
