//FONT COLORS
$charcoal: #323232;

// PRIMARY COLORS
$black: #13182c;
$indigo: #2e66e5;
$white: #ffffff;

// SECONDARY COLORS
$slate: #5c667e;
$cloud: #bdc5d5;

// BACKGROUND COLORS
$graphite: #232940;
$light-grey: #f7f8f9;

// SUPPORTING COLORS
$green: #158463;
$red: #c94515;
