// Avenir font family
@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextProLT/Avenir_otf/Linotype-AvenirNextLTPro-Regular.otf")
    format("OpenType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextProLT/Avenir_otf/Linotype-AvenirNextLTPro-Demi.otf")
    format("OpenType");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextProLT/Avenir_otf/Linotype-AvenirNextLTPro-Bold.otf")
    format("OpenType");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Soulmaze";
  src: url("../../assets/font/soulmaze/MADESoulmaze.otf") format("OpenType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SoulmazeBrush";
  src: url("../../assets/font/soulmaze/MADESoulmazeBrush.otf")
    format("OpenType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SoulmazeItalic";
  src: url("../../assets/font/soulmaze/MADESoulmazeItalic.otf")
    format("OpenType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SoulmazeOutline";
  src: url("../../assets/font/soulmaze/MADESoulmazeOutline.otf")
    format("OpenType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SoulmazeOutlineItalic";
  src: url("../../assets/font/soulmaze/MADESoulmazeOutlineItalic.otf")
    format("OpenType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RalewayR";
  src: url("../../assets/font/Raleway/Raleway-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RalewaySB";
  src: url("../../assets/font/Raleway/Raleway-SemiBold.ttf") format("TrueType");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "RalewayB";
  src: url("../../assets/font/Raleway/Raleway-Black.ttf") format("TrueType");
  font-weight: 900;
  font-style: normal;
}
