@mixin cardHR {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  height: 3px;
  border: none;
  border-radius: 6px;
  margin: 5px auto;
  @content;
}

@mixin projectCardButton {
  font-family: 'RalewaySB';
  position: absolute;
  text-decoration: none;
  padding: 15px;
  top: 339px;
  left: 22px;
  border-radius: 3px;
  font-weight: 600;
  @content;
}

@mixin sectionTitleHR {
  height: 3px;
  border: none;
  border-radius: 6px;
  width: 60px;
  @content;
}
