@import "../../styles/partials/global";

.skills-container {
  position: relative;
  background-color: #f5f5f5;
  padding: 0 0 60px 0;

  &__title {
    text-align: center;
    font-family: "SoulmazeItalic";
    color: #444649;
    padding: 60px 0 0 0;
    margin: 0;
    &-letter {
      color: #0aa2e7;
    }
    &-hr {
      height: 3px;
      border: none;
      background: #4cf3c6;
      border-radius: 6px;
      width: 60px;
    }
  }

  &__list {
    list-style-type: none;
    padding: 0%;
    margin: 0;
  }
  &__skills {
    display: flex;
    align-items: center;
    margin: 10px;
    width: 93.75vw;
    height: 50px;

    &-sub {
      width: 93.75vw;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      @include tablet {
        margin: 0 320px 0 0;
      }
      @include desktop {
        margin: 0 630px 0 0;
      }
    }
  }
  &__list-item {
    width: 270px;
    max-width: 290px;
    display: flex;
    margin: 20px 0;
    @include desktop {
      max-width: 900px;
    }
  }
  &__skill-type {
    font-family: "RalewaySB";
    width: 120px;
    min-width: 120px;
    height: 27px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    margin: 0;
    border: 1px solid #444649;
    border-right: 0;
    color: #444649;
    font-size: 16px;
  }
  &__loading-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 200px;
  }
  &__bar-html,
  &__bar-css,
  &__bar-sass,
  &__bar-javascript,
  &__bar-react,
  &__bar-node,
  &__bar-express,
  &__bar-mysql,
  &__bar-mongo {
    width: 43.4375vw;
    max-width: 155px;
    background: #444649;
    display: flex;
    height: 27px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    overflow: hidden;
    @include tablet {
      width: 67.4375vw;
      max-width: 493px;
    }
    @include desktop {
      max-width: 830px;
    }
  }
  &__bar-html {
    box-shadow: 0 0 10px #a569bd;
  }
  &__bar-css {
    box-shadow: 0 0 10px #48c9b0;
  }
  &__bar-sass {
    box-shadow: 0 0 10px #ec7063;
  }
  &__bar-javascript {
    box-shadow: 0 0 10px #b7950b;
  }
  &__bar-react {
    box-shadow: 0 0 10px #5499c7;
  }
  &__bar-node {
    box-shadow: 0 0 10px #cd6155;
  }
  &__bar-express {
    box-shadow: 0 0 10px #6460cc;
  }
  &__bar-mysql {
    box-shadow: 0 0 10px #9bcc60;
  }
  &__bar-mongo {
    box-shadow: 0 0 10px #cc9060;
  }

  &__html {
    height: 27px;
    float: left;
    width: 90%;
    background: #a569bd;
    animation: html 3s;
    @keyframes html {
      0% {
        width: 0%;
      }
      100% {
        width: 90%;
      }
    }
  }
  &__css {
    height: 27px;
    float: left;
    width: 70%;
    background: #48c9b0;
    animation: css 3s;
    @keyframes css {
      0% {
        width: 0%;
      }
      100% {
        width: 70%;
      }
    }
  }
  &__sass {
    height: 27px;
    float: left;
    width: 60%;
    background: #ec7063;
    animation: sass 3s;
    @keyframes sass {
      0% {
        width: 0%;
      }
      100% {
        width: 60%;
      }
    }
  }
  &__javascript {
    height: 27px;
    float: left;
    width: 50%;
    background: #b7950b;
    animation: javascript 3s;
    @keyframes javascript {
      0% {
        width: 0%;
      }
      100% {
        width: 50%;
      }
    }
  }
  &__react {
    height: 27px;
    float: left;
    width: 50%;
    background: #5499c7;
    animation: react 3s;
    @keyframes react {
      0% {
        width: 0%;
      }
      100% {
        width: 50%;
      }
    }
  }
  &__node {
    height: 27px;
    float: left;
    width: 40%;
    background: #cd6155;
    animation: node 3s;
    @keyframes node {
      0% {
        width: 0%;
      }
      100% {
        width: 40%;
      }
    }
  }
  &__express {
    height: 27px;
    float: left;
    width: 40%;
    background: #6460cc;
    animation: express 3s;
    @keyframes express {
      0% {
        width: 0%;
      }
      100% {
        width: 40%;
      }
    }
  }
  &__mysql {
    height: 27px;
    float: left;
    width: 30%;
    background: #9bcc60;
    animation: mysql 3s;
    @keyframes mysql {
      0% {
        width: 0%;
      }
      100% {
        width: 30%;
      }
    }
  }
  &__mongo {
    height: 27px;
    float: left;
    width: 40%;
    background: #cc9060;
    animation: mongo 3s;
    @keyframes mongo {
      0% {
        width: 0%;
      }
      100% {
        width: 40%;
      }
    }
  }
}
