@use "../../styles/partials/global";

.home-container {
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #1c2833 100%);
  &__hero-image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__text-container {
    @include global.tablet {
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0 0 300px 0;
    }
    &-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      font-size: 45px;
      letter-spacing: 4px;
      color: global.$graphite;
      @include global.tablet {
        margin: 310px 0 0 0;
        font-size: 93px;
      }
    }
    &-description {
      font-family: "Soulmaze";
      color: #e31b6d;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      font-weight: 600;
      font-style: italic;
      font-size: 17px;
      letter-spacing: 1.5px;
      filter: drop-shadow(0.4rem 0.6rem 0.1rem rgba(227, 27, 109, 0.2));
      transition: filter 600ms;
      &:hover {
        filter: drop-shadow(0.2rem 0.3rem 0.1rem rgba(227, 27, 109, 0.8));
      }
      @include global.tablet {
        font-size: 27px;
        font-style: normal;
      }
      &-span {
        margin: 0 12px 0 0;
      }
    }
  }
  &__first-name {
    font-family: "SoulmazeItalic";

    color: #4cf3c6;
    filter: drop-shadow(0.4rem 0.6rem 0.1rem rgba(86, 255, 255, 0.2));
    transition: filter 600ms;
    &:hover {
      filter: drop-shadow(0.2rem 0.3rem 0.1rem rgba(86, 255, 255, 0.8));
    }
  }
  &__last-name {
    font-family: "SoulmazeOutlineItalic";
    color: #0aa2e7;
    line-height: 0.5;
    filter: drop-shadow(0.4rem 0.6rem 0.1rem rgba(10, 162, 231, 0.2));
    transition: filter 600ms;
    &:hover {
      filter: drop-shadow(0.2rem 0.3rem 0.1rem rgba(10, 162, 231, 0.8));
    }
  }
  &__down-container {
    display: flex;
    justify-content: center;
    height: 50px;
  }
  &__down {
    cursor: pointer;
    height: 50px;
    margin: 50px 0 0 0;
    filter: drop-shadow(0.4rem 0.3rem 0.1rem rgba(86, 255, 255, 0.3));
    transition: filter 600ms;
    &:hover {
      filter: drop-shadow(0.1rem 0.3rem 0.1rem rgba(174, 214, 241, 0.8));
    }
  }
  &__stars,
  &__stars-two,
  &__stars-three {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__stars {
    @include global.starsOne;

    &:after {
      @include global.starsOneAfter;
    }
  }
  &__stars-two {
    @include global.starsTwo;

    &:after {
      @include global.starsTwoAfter;
    }
  }
  &__stars-three {
    @include global.starsThree;

    &:after {
      @include global.starsThreeAfter;
    }
  }
}
