@use '../../styles/partials/global';

.skill {
  background: radial-gradient(ellipse at bottom, #1c2833 100%, #1b2735 0%);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: auto;
  position: relative;

  &__title {
    text-align: center;
    font-family: 'MontserratBL';

    letter-spacing: 2px;
    background: linear-gradient(#ffffff, #38495a);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 60px 0 0 0;
    margin: 0;
    &-letter {
      font-family: 'MontserratT';
    }
    &-hr {
      @include global.sectionTitleHR;
      background: #58bda2;
    }
  }
  &__section-one {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 110px;
    min-height: 110px;
    width: 95vw;
    max-width: 500px;
    margin-top: 60px;
    border-radius: 4px;
    box-shadow: 0 20px 20px rgba(126, 15, 255, 0.2),
      0px 0px 50px rgba(15, 255, 193, 0.2);
    background: rgba(15, 32, 39, 0.7); /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      rgba(44, 83, 100, 0.7),
      rgba(32, 58, 67, 0.7),
      rgba(15, 32, 39, 0.7)
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      rgba(44, 83, 100, 0.7),
      rgba(32, 58, 67, 0.7),
      rgba(15, 32, 39, 0.7)
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    @include global.tablet {
      height: 150px;
      min-height: 150px;
      width: 85.8vw;
      max-width: 970px;
    }
  }
  &__wrapper {
    display: flex;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    justify-content: space-around;
    padding-top: 10px;
    @include global.tablet {
      padding-top: 10px;
      max-width: 620px;
      justify-content: space-between;
    }
  }
  &__technical-container,
  &__design-container,
  &__management-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 7px;
    border-radius: 4px;
    border: 1px solid silver;
    text-decoration: none;
    outline: 0;
    transition: 0.2s all ease-in-out;
    @include global.tablet {
      padding: 10px;
    }
    &:hover {
      cursor: pointer;
      color: #0aa2e7;
      border: 1px solid #0aa2e7;
      border-radius: 3px;
    }
    &--active {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #0aa2e7;
      border-top: 2px solid silver;
      padding: 10px 7px;
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
      border-radius: 0;
      outline: 0;
      -moz-outline-style: none;
      text-decoration: none;
      @include global.tablet {
        padding: 10px;
      }
    }
  }
  &__technical-icon,
  &__design-icon,
  &__management-icon {
    width: 15px;
    height: 15px;
    margin-right: 3px;
    @include global.tablet {
      width: 25px;
      height: 25px;
    }
  }
  &__technical-description--active,
  &__design-description--active,
  &__management-description--active {
    font-family: 'RalewayR';
    font-size: 13px;
    background: linear-gradient(#ffffff, #38495a);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    @include global.tablet {
      font-size: 16px;
    }
  }
  &__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icons-color {
    margin: 0 2.5px;
    fill: #a9a6b6;
    width: 32px;
    height: 32px;
    transition: 0.25s all ease-in-out;

    &:hover {
      fill: url(#gradient);
      filter: drop-shadow(0.35px 3.35px 3px #0aa2e7);
      cursor: pointer;
      fill: #a9a6b6;
    }
    @include global.tablet {
      width: 39px;
      height: 39px;
    }
    &--active {
      margin: 0 2.5px;
      width: 32px;
      height: 32px;
      fill: url(#gradient);
      filter: drop-shadow(0.35px 3.35px 3px #0aa2e7);
      cursor: pointer;
      @include global.tablet {
        width: 39px;
        height: 39px;
      }
    }
  }
  &__icon-wrapper {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding: 5px 0 10px 0;
    &::-webkit-scrollbar {
      height: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(76, 243, 198, 0.6);
      border-radius: 50px;
    }
    &::-webkit-scrollbar-track {
      background: none;
    }

    @include global.tablet {
      padding: 5px 0 15px 0;
      justify-content: center;
    }
  }
  &__section-two {
    font-family: 'RalewayR';
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95vw;
    max-width: 500px;
    height: 580px;
    min-height: 580px;
    margin-top: 10px;
    margin-bottom: 70px;
    border-radius: 4px;
    box-shadow: 0 20px 20px rgba(126, 15, 255, 0.2),
      0px 0px 50px rgba(15, 255, 193, 0.2);
    background: rgba(15, 32, 39, 0.7); /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      rgba(44, 83, 100, 0.7),
      rgba(32, 58, 67, 0.7),
      rgba(15, 32, 39, 0.7)
    ); /* Chrome 10-25, Safari 6.1-6 */
    background: linear-gradient(
      to right,
      rgba(44, 83, 100, 0.7),
      rgba(32, 58, 67, 0.7),
      rgba(15, 32, 39, 0.7)
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    @include global.tablet {
      width: 85.8vw;
      max-width: 970px;
      height: auto;
      min-height: auto;
    }
  }
  &__wrapper-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 580px;
    min-height: 580px;
    letter-spacing: 1px;
    @include global.tablet {
      flex-direction: row;
      justify-content: space-around;
      height: 500px;
      min-height: 500px;
    }
  }
  &__stars,
  &__stars-two,
  &__stars-three {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__stars {
    @include global.starsOne;

    &:after {
      @include global.starsOneAfter;
    }
  }
  &__stars-two {
    @include global.starsTwo;

    &:after {
      @include global.starsTwoAfter;
    }
  }
  &__stars-three {
    @include global.starsThree;

    &:after {
      @include global.starsThreeAfter;
    }
  }
}
