@use '../../styles/partials/global';

.footer-container {
  font-family: 'RalewayR';
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  padding: 0 0 30px 0;
  &__copyright-container {
    display: flex;
    justify-content: center;
  }
  &__copyright {
    color: #dce0e5;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0;
    padding: 70px 0 0 0;
    text-align: center;
    width: 77%;
    max-width: 430px;
    @include global.tablet {
      max-width: 455px;
    }
    &-span {
      font-family: 'RalewayR';
      color: #e31b6d;
    }
  }
  &__social-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 40px 0 20px 0;
    margin: 0;
    background-color: #252525;
    @include global.tablet {
      flex-direction: row;
    }
    &-item {
      display: flex;
    }
    &-linkedin-link {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 260px;
      border: 1px solid #ffffff;
      border-radius: 3px;
      padding: 5px;
      text-decoration: none;
      &:hover {
        background-color: #0aa2e7;
        border: 1px solid transparent;
      }
      @include global.tablet {
        width: 230px;
      }
    }
    &-github-link {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      width: 260px;
      border: 1px solid #ffffff;
      border-radius: 3px;
      padding: 5px;
      text-decoration: none;
      margin: 15px 0 0 0;
      &:hover {
        background-color: #d15704;
        border: 1px solid transparent;
      }
      @include global.tablet {
        margin: 0 0 0 20px;
        width: 220px;
      }
    }
    &-resume-link {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      width: 260px;
      border: 1px solid #ffffff;
      border-radius: 3px;
      padding: 5px;
      text-decoration: none;
      margin: 15px 0 0 0;
      &:hover {
        background-color: #e31b6d;
        border: 1px solid transparent;
      }
      @include global.tablet {
        margin: 0 0 0 20px;
        width: 220px;
      }
    }
    &-text {
      font-size: 10px;
      color: #ffffff;
    }

    &-linkedin {
      fill: #ffffff;
      padding: 2.5px;
      margin: 0 5px 0 0px;
    }
    &-github {
      stroke: #ffffff;
      padding: 2.5px;
      margin: 0 33px 0 0;
    }
    &-download {
      stroke: #ffffff;
      padding: 2.5px;
      margin: 0 33px 0 0;
    }
  }
  &__arrow-container {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 3%;
    right: 5%;
    &:active,
    &:focus {
      outline: 0;
      border: none;
      -moz-outline-style: none;
    }
    @include global.tablet {
      top: -25px;
    }
  }
  &__go-to-top {
    cursor: pointer;
    transform: rotate(180deg);
    fill: #ffffff;
    transition: all 250ms ease-out;
    &:hover {
      fill: url(#arrow);
      filter: drop-shadow(0.35px 3.35px 3px #ffffff);
    }
    &:active,
    &:focus {
      outline: 0;
      border: none;
      -moz-outline-style: none;
    }
    @include global.mobile {
      position: absolute;
      inset: 0;
    }
  }
}
