.App {
  &__progress-bar-wrapper {
    background: none;
    height: 7px;
    width: 100%;
    position: sticky;
    top: 95px;
    left: 0;
    z-index: 3;
  }
  &__progress-bar {
    height: 7px;
    // background: #00ce83;
    background: #ee0979; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ff6a00,
      #ee0979
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ff6a00,
      #ee0979
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}
