@use "./styles/partials/global";

.App {
  &__progress-bar-wrapper {
    background: none;
    height: 7px;
    width: 100%;
    position: sticky;
    top: 95px;
    left: 0;
    z-index: 3;
  }
  &__progress-bar {
    height: 7px;
    @include global.appProgressBar;
  }
}
