@use './styles/partials/global';

body {
  margin: 0;
  font-family: 'RalewayR', 'MontserratR';
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
  background: radial-gradient(ellipse at bottom, #1c2833 100%, #1b2735 0%);
  @include global.scrollbarStyle;
}
