@use "./styles/partials/global";

body {
  margin: 0;
  font-family: "Soulmaze", "RalewayR";
  scroll-behavior: smooth;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
